.hash1 {
    width: 64px;
height: 20px;
top: 57px;
left: 144px;
font-family: Helvetica;
font-size: 17px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #5863E3;
margin: 30px;
}
.hash2 {
    font-family: Helvetica;
font-size: 49px;
font-weight: 400;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
color: #000000;
margin: 0px 0px 0px 30px;
width: 371px;
height: 112px;
top: 84px;
left: 144px;

}
.divi1 {
    width: 100%;
    margin: 10px 0px 0px 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 756px;
    height: 298px;
    top: 253px;
    left: 144px;
    border: 2px solid;   
    display: inline-block;
    vertical-align: top;

border-image-source: linear-gradient(0deg, rgba(233, 219, 219, 0.2), rgba(233, 219, 219, 0.2)),
linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(0deg, rgba(213, 211, 211, 0.3), rgba(213, 211, 211, 0.3));


}
.infuti1 {
    background-color: #f2f2f2;
    width: 100%;
    height: 256px;
    vertical-align: top;
    border: none;
    display: inline-block;
}

.formi2 {
    display: inline-block;
    width: 370px;
    height: 59px;
    top: 253px;
    left: 920px;
    border: 2px;
    border: 2px solid;

border-image-source: linear-gradient(0deg, rgba(233, 219, 219, 0.2), rgba(233, 219, 219, 0.2)),
linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(0deg, rgba(213, 211, 211, 0.3), rgba(213, 211, 211, 0.3));



}
.infuti2 {
    display: inline-block;
    width: 100%;
    padding: 20px;
    width: 370px;
height: 59px;
top: 495px;
left: 920px;

 
border: 2px solid;

border-image-source: linear-gradient(0deg, rgba(233, 219, 219, 0.2), rgba(233, 219, 219, 0.2)),
linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(0deg, rgba(213, 211, 211, 0.3), rgba(213, 211, 211, 0.3));


}
.infuti3 {
    display: list-item;
    padding: 20px;
    width: 370px;
    border: 2px solid;




}
.infuti4 {
    padding: 20px;
    width: 370px;
height: 59px;
top: 332px;
left: 920px;
border: 2px solid;

}
.divi2 {
    display: inline-block;
    padding: 20px;
}
.forma2 {
    display: inline-block;
    padding: 20px;
}
.batoni1 {
    display: list-item;
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}
.card {
    background-color:#5968F4;
    border-radius: 30px;
    width: 68px;
height: 68px;
top: 602px;
left: 288px;
margin: 50px 200px 50px 200px;
display: inline-block;

}
.imiji1 {
    padding: 15px;
}
.hash3 {
    width: 54px;
height: 23px;
top: 686px;
left: 296px;
font-family: Helvetica;
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #4E4D54;
margin: 6px;
}
.ategi {
    width: 183px;
height: 17px;
top: 717px;
left: 231px;
font-family: Helvetica;
font-size: 15px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #99999A;
margin: 0 auto;
display: inline-block;
}
.ategi1 {
    width: 183px;
height: 17px;
top: 717px;
left: 231px;
font-family: Helvetica;
font-size: 15px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #99999A;
margin: 0 auto;
display: inline-block;
}
.imiji2 .hash4 {
    background-color:#5968F4;
    border-radius: 30px;
    width: 68px;
height: 68px;
top: 602px;
left: 288px;
margin: 50px 200px 50px 200px;
display: inline-block;
}
.ategi2 {
    width: 192px;
height: 17px;
top: 717px;
left: 659px;
font-family: Helvetica;
font-size: 15px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #99999A;
display: inline-block;
margin: 10px;
}

